$color-main: #3545a6;
$color-additinal: #fff;

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}
  
.page-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;  
  min-height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;

  &--auth {
    background-color: $color-main;
    align-items: center;
    justify-content: center;
  }
}

.form{
  width: 100%;
}

.panel {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  margin: 15px;
  padding: 40px 20px;
  background-color: $color-additinal;
  width: auto;
  &--center-item{
    align-items: center;
  } 
  &__logo{
    margin-bottom: 40px;
  }
}

.logo {
  width: 150px;  
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid $color-main;
  border-top: 3px solid $color-main;
  &__image{
    fill: $color-main;
    margin-right: 10px;
  }
  &__title{
    color: $color-main;
    text-transform: uppercase;
    font-weight: bold;
  }
  &--white{
    .logo__image{
      fill: $color-additinal;
    }
    .logo__title{
      color: $color-additinal;
    }
  }
}

